## Introduction

In this assignment, I will scrape the Wikipedia page (https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M) to obtain the data that is in the table of postal codes and transform the data into a pandas dataframe.

In [1]:
#Import library
import pandas as pd

## Read data from Wikipedia

In [2]:
website_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df_list = pd.read_html(website_url) 
df_list
df = df_list[0]
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

Only process the cells that have an assigned borough. Ignore cells with a borough that is **Not assigned**

In [3]:
df.drop(df[df['Borough']=='Not assigned'].index,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 2 to 178
Data columns (total 3 columns):
Postal Code     103 non-null object
Borough         103 non-null object
Neighborhood    103 non-null object
dtypes: object(3)
memory usage: 3.2+ KB

Check whether more than one neighborhood can exist in one postal code area.

In [4]:
len(df['Postal Code'].unique())

103

No postal code is listed twice. Print the rows of the dataframe.

In [5]:
print('The dataframe has {} rows'.format(df.shape[0]))

The dataframe has 103 rows